/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
    padding-top: 80px;
}

.header-container, .main-container, .footer-container{
    max-width: 1100px;
}

.row{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.column{
    flex-basis: calc(100% / 3);
}

li, i{
    padding: 3px;
}

/* Section */

/* Header */
header{
    background-color: orange;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-container, .footer-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: white;
}

/* Main */
.main-container{
    margin: 40px auto;
}


/* Cards */
.card{
    position: relative; 
    cursor: pointer;
}

img{
    max-width: 100%;
}
.back-image{
    display: none;
}

.front-image{
    display: block;
}

.card:hover .front-image{
    display: none;
}

.card:hover .back-image{
    display: block;
}

/* footer */
footer{
    background-color: black;
    height: 80px;
}

/*Header and footer details*/
a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
    display: inline-block;
}

.logo{
    max-width: 60%;
}

.logo img{
    max-width: 25%;

}

.footer-icon, .logo{
    text-align: center;
}

/* Main details */
.heart{
    font-size: 25px;
    background-color: white;
    padding: 2px 8px;
    position:absolute;
    top: 3px;
    right: 0;
}

.heart:hover{
    color: red;
}

.label{
    position: absolute;
    left: 0;
    bottom: 30px;
}

.discount, .eco{
    color: white;
    padding: 4px 6px;
    font-size: 15px;
}

.discount{
    background-color: red;
}

.eco{
    background-color: green;
}

.price{
    color: red;
}

.original-price{
    text-decoration: line-through;
}
